<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   inkscape:version="1.0 (4035a4fb49, 2020-05-01)"
   sodipodi:docname="build.svg.tmpl.svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 80.034704 5.2916665"
   height="20"
   width="302.49338">
  <sodipodi:namedview
     inkscape:current-layer="svg8"
     inkscape:window-maximized="0"
     inkscape:window-y="25"
     inkscape:window-x="0"
     inkscape:cy="38.180701"
     inkscape:cx="143.08519"
     inkscape:zoom="3.1767906"
     showgrid="false"
     id="namedview903"
     inkscape:window-height="1055"
     inkscape:window-width="1920"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0"
     guidetolerance="10"
     gridtolerance="10"
     objecttolerance="10"
     borderopacity="1"
     bordercolor="#666666"
     pagecolor="#ffffff" />
  <defs
     id="defs2" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="translate(37.278976,31.518507)"
     id="layer1">
    <path
       d="m -33.310224,-31.518507 h 57.726161 c 0.732896,0 1.322916,0.590021 1.322916,1.322917 v 2.645832 c 0,0.732896 -0.59002,1.322917 -1.322916,1.322917 h -57.726161 c -0.732896,0 -1.322917,-0.590021 -1.322917,-1.322917 v -2.645832 c 0,-0.732896 0.590021,-1.322917 1.322917,-1.322917 z"
       style="fill:#000000;fill-opacity:1;stroke-width:0.2286"
       id="rect1524-3" />
    <path
       style="fill:%pass_colour%;fill-opacity:1"
       d="m 18.358982,-31.518507 h 17.782156 c 0.732896,0 1.322917,0.590021 1.322917,1.322917 v 2.645833 c 0,0.732896 -0.590021,1.322917 -1.322917,1.322917 H 18.358982 c -0.732896,0 -1.322917,-0.590021 -1.322917,-1.322917 v -2.645833 c 0,-0.732896 0.590021,-1.322917 1.322917,-1.322917 z"
       id="rect1524" />
    <g
       style="fill:#ffffff"
       transform="translate(-0.37618116,0.14022712)"
       id="g1571-9">
      <text
         id="text1516-1"
         y="-27.587353"
         x="-31.386993"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.70417px;line-height:1.25;font-family:Verdana, Geneva, 'DejaVu Sans', sans-serif;-inkscape-font-specification:'Verdana, Geneva, DejaVu Sans, sans-serif';letter-spacing:0px;fill:#ffffff;stroke-width:0.529166"
         xml:space="preserve"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.70417px;font-family:Verdana, Geneva, 'DejaVu Sans', sans-serif;-inkscape-font-specification:'Verdana, Geneva, DejaVu Sans, sans-serif';fill:#ffffff;stroke-width:0.529166"
           y="-27.587353"
           x="-31.386993"
           id="tspan1514-2">Build &lt;%branch%&gt;</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.70417px;line-height:1.25;font-family:Verdana, Geneva, 'DejaVu Sans', sans-serif;-inkscape-font-specification:'Verdana, Geneva, DejaVu Sans, sans-serif';letter-spacing:0px;fill:#ffffff;stroke-width:0.529167"
         x="22.842602"
         y="-27.492413"
         id="text1516-6-7"><tspan
           id="tspan1514-7-0"
           x="22.842602"
           y="-27.492413"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.70417px;font-family:Verdana, Geneva, 'DejaVu Sans', sans-serif;-inkscape-font-specification:'Verdana, Geneva, DejaVu Sans, sans-serif';fill:#ffffff;stroke-width:0.529167">%pass%</tspan></text>
    </g>
  </g>
</svg>
