[Unit]
Description=Read Route Record 1.1

[Service]
ExecStart=/usr/bin/rrr -s -l /etc/rrr.conf.d/
KillSignal=SIGINT
User=rrr
Group=rrr

[Install]
WantedBy=multi-user.target
