/src/tests/main
/src/modules/.libs
/src/.libs
/src/lib/.libs
/src/modules/common/.dirstamp
/src/rrr
/build_timestamp.h
/build_directory.h

# debian
/debian/rrr/
/debian/rrr.debhelper.log
/debian/rrr.substvars
/debian/autoconf.after
/debian/autoconf.before
/debian/autoreconf.after
/debian/autoreconf.before
/debian/voltage-logger.*
/debian/voltage-logger/*
/debian/debhelper-build-stamp
/debian/files
/debian/.debhelper/
/debian/tmp/
# http://www.gnu.org/software/automake

INSTALL
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
Makefile
*.o
*.lo
*.so
*.la
*.lai
*.trs
.deps/
.libs/
src/vlogger
*.lai
.dirstamp

# eclipse
/Debug
/.autotools
/.settings/
/.externalToolBuilders/
/.cproject

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in~
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/config.log
/config.h
/config.status
/libtool
/m4

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex
