/src/tests/main
/src/tests/isolated_python
/src/modules/.libs
/src/.libs
/src/lib/.libs
/src/modules/common/.dirstamp
/src/rrr
/src/rrr_post
/src/rrr_http_client
/src/rrr_http_server
/src/rrr_stats
/src/rrr_passwd
/src/rrr_auth
/src/rrr_msgdb
/src/rrr_msg
/src/test.sh
/src/test.sh.log
/src/test-suite.log
/src/make-paths.sh
/build_timestamp.h
/build_directory.h
input_data

# debian
/debian/rrr/
/debian/*.debhelper.log
/debian/*.substvars
/debian/autoconf.after
/debian/autoconf.before
/debian/autoreconf.after
/debian/autoreconf.before
/debian/voltage-logger.*
/debian/voltage-logger/*
/debian/debhelper-build-stamp
/debian/files
/debian/.debhelper/
/debian/*.debhelper
/debian/tmp/
/debian/librrr-dev/
/debian/librrr1/
/debian/rrr-mod-mysql/
/debian/rrr-mod-mariadb/
/debian/rrr-mod-mysql/
/debian/rrr-mod-perl5/
/debian/rrr-mod-python3/

# http://www.gnu.org/software/automake

confdefs.h
/conftest
/conftest.err
/conftest.c
INSTALL
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
Makefile
*.o
*.lo
*.so
*.la
*.lai
*.trs
.deps/
.libs/
src/vlogger
*.lai
.dirstamp
variables.sh

# code coverage
*.gcov
*.gcda
*.gcno
/lcov
/main_coverage.info

# valgrind
vgcore.*
massif.*

# perl
blib
Makefile.PL
MYMETA.json
MYMETA.yml
pm_to_blib
src/lib/perl5_xsi.c
*.xsc

# python
/src/python/__pycache__/
/src/tests/__pycache__/
/src/__pycache__/
/__pycache__/
/misc/test_configs/__pycache__/

# eclipse
/Debug
/.autotools
/.settings/
/.externalToolBuilders/
/.cproject

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in~
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/config.log
/config.h
/config.status
/libtool

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# FreeBSD
*~
.test_composite.sh
