Source: block-device-logger
Section: main
Priority: optional
Maintainer: Atle Solbakken <atle@goliathdns.no>
Build-Depends: debhelper (>= 9), dh-autoreconf, build-essential
Standards-Version: 3.9.8
Homepage: https://github.com/atlesn/blockdevlogger

Package: libblock-device-logger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Logger which writes to block devices without file system. Shared library.

Package: block-device-logger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Logger which writes to block devices without file system. Command line interface.

Package: libblock-device-logger-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libblock-device-logger (>= 0.1)
Description: Logger which writes to block devices without file system. Command line interface.
