ACTION=="add", ATTRS{manufacturer}=="Intermec", SUBSYSTEM=="input", PROGRAM="/bin/sh -c 'logger -p user.info New barcode scanner detected'", MODE="0600", OWNER="rrr", GROUP="rrr", SYMLINK+="intermec-scanner%n"
